sample/DemoApp/build/
sample/DemoApp/DemoApp.xcodeproj/*.pbxuser
sample/DemoApp/DemoApp.xcodeproj/*.mode*
sample/DemoApp/DemoApp.xcodeproj/xcuserdata*
sample/DemoApp/DemoApp.xcodeproj/project.xcworkspace
sample/theRunAround/build/
sample/theRunAround/theRunAround.xcodeproj/*.pbxuser
sample/theRunAround/theRunAround.xcodeproj/*.mode*
src/facebook-ios-sdk.xcodeproj/*.pbxuser
src/facebook-ios-sdk.xcodeproj/*.mode*
src/build/
test/UnitTest/UnitTest.xcodeproj/*.pbxuser
test/UnitTest/UnitTest.xcodeproj/*.mode*
test/UnitTest/build/
*~
*#
.arcconfig

# Exclude the build directory
build/*

# Exclude temp nibs and swap files
*~.nib
*.swp

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

*.xcworkspace
xcuserdata/*
*.xcuserdatad

